/* Input.module.css */
.inputContainer {
    width: 70vw;
    max-height: 3em;
    padding: 5px;
    border: 1px solid #ccc;
    overflow-y: auto;
border-radius: 10px;
    margin:50px ;
    position: relative;
}

/* Для удобства добавим стили для скроллбара (необязательно) */
.inputContainer::-webkit-scrollbar {
    width: 8px;
}

.inputContainer::-webkit-scrollbar-thumb {
    background-color: #888;
}

.inputContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

